<div class="clearfix" id="container">
  <div id="wrapper">
    <div class="view-container">
      <div class="display">
        <div id="view-login" style="display: block;">
          <h2>Questionizer</h2>
          <%= render :partial => 'form' %>
          
        </div>
        <div class="display-overlay"></div>
        <div class="display-gradient"></div>
      </div>
    </div>
  </div>
</div>